<div id="register-user" class="register">
    <h2>Register</h2>
    <p class="bg-danger register__error"></p>

    <form role="form">
        <div class="form-group">
            <label for="user-email">Email:</label>
            <input type="email" class="form-control" id="user-email" name="username" placeholder="Enter email">
        </div>
        
        <div class="form-group">
            <label for="user-password">Password</label>
            <input type="password" class="form-control" id="user-password" name="password" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn btn-success">Submit</button>
    </form>
</div>
