<html>
    <head>
        <title>Node.js Address Book</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/global.css">

        
        {{#if script}}
        <script data-main="js/page-{{script}}" src="js/vendor/require.js"></script>
        {{/if}}
    </head>
<body>

<div class="site-wrapper">
    {{{body}}}
</div>


</body>
</html>